<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="injappcenter_and.inumarket_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/group_2_copy"
        android:label="INUM"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity android:name=".Activity.Login_main" />
        <activity android:name=".Activity.Signup"/>
        <activity android:name=".Activity.Main" />
        <activity android:name=".Activity.letter_form"/>
        <activity android:name=".Activity.letter_send"
            android:theme="@style/AppTheme.Transparent"/>
        <activity android:name=".Activity.my_product"/>
        <activity android:name=".Activity.forgot_pw" />
        <activity android:name=".Activity.Start_inum">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ProductDetail"></activity>
        <activity android:name=".Activity.Mypage_Setting"></activity>
        <activity android:name=".Activity.sellerProduct"></activity>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/group_2_copy" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>