<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="injappcenter_and.inumarket_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/group_2_copy"
        android:label="INUM"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity android:name=".Activity.Start_inum" />
        <activity android:name=".Activity.Login_main" />
        <activity android:name=".Activity.forgot_pw" />
        <activity android:name=".Activity.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ProductDetail"></activity>
    </application>

</manifest>